# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Model artifacts (optional)
# Uncomment if the model is too large for GitHub
# models/*.pkl